In [1]:
!pip install pandas

Requirement already satisfied: pandas in /Applications/anaconda3/lib/python3.13/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /Applications/anaconda3/lib/python3.13/site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Applications/anaconda3/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Applications/anaconda3/lib/python3.13/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Applications/anaconda3/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /Applications/anaconda3/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [3]:
import numpy as np
import pandas as pd

data = np.array(['1','2','3','4','5'])
ser = pd.Series(data)
print(ser)

0    1
1    2
2    3
3    4
4    5
dtype: object

In [4]:
import pandas as pd

lst = [1, 2, 3, 4, 5]
df = pd.DataFrame([lst, lst, lst, lst, lst, lst, lst, lst, lst], 
                  columns=['A', 'B', 'C', 'D', 'E'])

print(df)

   A  B  C  D  E
0  1  2  3  4  5
1  1  2  3  4  5
2  1  2  3  4  5
3  1  2  3  4  5
4  1  2  3  4  5
5  1  2  3  4  5
6  1  2  3  4  5
7  1  2  3  4  5
8  1  2  3  4  5

In [7]:
df = pd.DataFrame([lst, lst, lst, lst, lst, lst, lst, lst, lst], 
                  columns=['First', 'Second', 'Third', 'Fourth', 'Fifth'])

print(df)

   First  Second  Third  Fourth  Fifth
0      1       2      3       4      5
1      1       2      3       4      5
2      1       2      3       4      5
3      1       2      3       4      5
4      1       2      3       4      5
5      1       2      3       4      5
6      1       2      3       4      5
7      1       2      3       4      5
8      1       2      3       4      5

In [9]:
print(type(df))  # Output: <class 'pandas.core.frame.DataFrame'>
print(type(ser))  # Output: <class 'pandas.core.series.Series'>

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [6]:
del df
print(df)  # This will raise a NameError since df no longer exists.

NameError: name 'df' is not defined